body {
  margin: 0px;
  padding: 0px;
}

.flex01 > div > img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

// .flex01 > div {
//   flex: 1 1 300px;

// }

.flex01 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-color: tomato;
}

